[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = "group user/Delveri  Chick (chidelmun)"
[access "refs/for/refs/*"]
	read = "group user/Delveri  Chick (chidelmun)"
	push = "group user/Delveri  Chick (chidelmun)"
	label-Code-Review = "-2..+2 group user/Delveri  Chick (chidelmun)"
	label-Verified = "-1..+1 group user/Delveri  Chick (chidelmun)"
	rebase = "group user/Delveri  Chick (chidelmun)"
	removeReviewer = "group user/Delveri  Chick (chidelmun)"
	submit = "group user/Delveri  Chick (chidelmun)"
[access "refs/heads/*"]
	read = "group user/Delveri  Chick (chidelmun)"
	create = "group user/Delveri  Chick (chidelmun)"
	push = "+force group user/Delveri  Chick (chidelmun)"
	pushMerge = "group user/Delveri  Chick (chidelmun)"
[access "refs/tags/*"]
	push = "+force group user/Delveri  Chick (chidelmun)"
	pushTag = "group user/Delveri  Chick (chidelmun)"
	pushSignedTag = "group user/Delveri  Chick (chidelmun)"
